{% extends 'core/index.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2>{{ project.name }}</h2>
    <h5>
        {% for tag in project.get_tags  %}
        {% if forloop.counter|divisibleby:6 %}
        <span class="badge badge-default">
        {% elif forloop.counter|divisibleby:5 %}
        <span class="badge badge-danger">
        {% elif forloop.counter|divisibleby:4 %}
        <span class="badge badge-warning">
        {% elif forloop.counter|divisibleby:3 %}
        <span class="badge badge-info">
        {% elif forloop.counter|divisibleby:2 %}
        <span class="badge badge-success">
        {% else %}
        <span class="badge badge-primary">
        {% endif %}
            {{ tag }}
        </span>
        {% endfor %}
    </h5>
    <p>{% trans 'Max mark' %}: {{ project.max_mark }}</p>
    {% if project.help_links %}
    {% for hlink in project.help_links.all %}
    <p><a href="{{ hlink.help_link }}">{{ hlink.name }}</a></p>
    {% endfor %}
    {% endif %}
    <p>{{ project.description }}</p>
    {% if project.optionals %}
    <hr/>
    <h2>{% trans 'Optional' %}:</h2>
    {% for opt_project in project.optionals %}
    <p>&nbsp;</p>
    <h3>{{ opt_project.name }}</h3>
    <h5>
        {% for tag in opt_project.get_tags  %}
        {% if forloop.counter|divisibleby:6 %}
        <span class="badge badge-default">
        {% elif forloop.counter|divisibleby:5 %}
        <span class="badge badge-danger">
        {% elif forloop.counter|divisibleby:4 %}
        <span class="badge badge-warning">
        {% elif forloop.counter|divisibleby:3 %}
        <span class="badge badge-info">
        {% elif forloop.counter|divisibleby:2 %}
        <span class="badge badge-success">
        {% else %}
        <span class="badge badge-primary">
        {% endif %}
            {{ tag }}
        </span>
        {% endfor %}
    </h5>
    <p>{% trans 'Max mark' %}: {{ project.max_mark }}</p>
    <p>{{ project.help_link }}</p>
    <p>{{ project.description }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}