{% extends "core/index.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block head_scripts %}
    <link rel="stylesheet" href="{% static 'core/css/libs/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
{% endblock %}

{% block content %}
<div class="jumbotron">
{#    {% if next and next != '/accounts/profile/' %}#}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if user.is_authenticated %}
        {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
        {% else %}
        {% trans 'Please login to see this page.' %}
        {% endif %}
    </div>
{#    {% endif %}#}

    <form method="post" action="{% url 'core:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Login' %}" class="btn btn-success" style="width: 120px"/>
        <a href="{% url 'core:password_reset' %}" class="pull-right">{% trans 'Lost password?' %}</a>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>&nbsp;</p>
    <p>{% trans 'Sign in with' %}:</p>
    <p>
        <a href="{% url "social:begin" "github" %}" class="btn btn-social btn-github" style="width: 150px;margin-right: 10px;margin-bottom: 10px">
            <span class="fa fa-github"></span>
             GitHub
        </a>
        <a href="{% url "social:begin" "bitbucket-oauth2" %}" class="btn btn-social btn-bitbucket" style="width: 150px;margin-right: 10px;margin-bottom: 10px">
            <span class="fa fa-bitbucket"></span>
             BitBucket
        </a>
        <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-social btn-google" style="width: 150px;margin-right: 10px;margin-bottom: 10px">
            <span class="fa fa-google"></span>
             Google+
        </a>
        <a href="{% url "social:begin" "yandex-oauth2" %}" class="btn btn-social btn-yahoo" style="width: 150px;margin-right: 10px;margin-bottom: 10px">
            <span class="fa fa-yahoo"></span>
             Yandex
        </a>
        <a href="{% url "social:begin" "vk-oauth2" %}" class="btn btn-social btn-vk" style="width: 150px;margin-bottom: 10px">
            <span class="fa fa-vk"></span>
             ВКонтакте
        </a>
    </p>
</div>



{% endblock %}